/* background-color: #9de1c2; */



.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: #9de1c2;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #000000;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: rgb(51, 51, 51); /*COUELUR DU TELEPHONE*/
  border-radius: 21px;
  transform: rotate(15deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-image: url("../assets/images/colonne.png");/*rgba(255, 255, 255, 0.1);  COULEUR DE LECRAN*/ 
  border-radius: 5px;
}
.product-device-2::before {
  background-image: url("../assets/images/fromage.png");/*rgba(255, 255, 255, 0.1);  COULEUR DE LECRAN*/ 
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
}



.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: rgb(160, 160, 160);
}

.jaune{
  background-color: #fbd97f;
  border: 0; 
  color: rgb(0, 0, 0);  
}

/*
 * Carousel
 */

.carousel-item{
  height: 32rem;
  background: #777;
  color: black;
  background-position: center;
  background-size: cover;
  
}

.container-item{
  width: 30%;
  margin: auto;
  margin-top: 8rem;
}

@media (max-width: 768px) {
  .container-item{
    width: 50%;
    margin-top: 10rem;
  }
  .container-item h1{
    font-size: 20px;
  }
  .container-item p{
    font-size: 15px;
  }


}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}


